.Gallery section{
    text-align: center;
    align-items: center;
    margin: 20px;
}
.Gallery ul{
    padding: 0;
}
.Gallery li{
    list-style-type: none;
}
.Gallery img{
    transition: transform 1s;
}
.Gallery img:hover{
    transform: scale(1.2,1.2);
}