.Profile section{
    text-align: center;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}
.Profile section:hover{
    border: 1px solid;
    border-color: red;
    transition: 1s;
    
}
.Profile section:hover h2{
    color: red;
    transition: 1s;
}

